<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/images/favicon.ico" rel="icon">
  
  <title>Contacto</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>
   

<!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Inicio</a></li>
          <li><a href="./project.html" title="">Contenidos</a></li>
          <li><a href="./about.html" title="">Acerca de mi</a></li>
          <li><a href="./contact.html" title="">Contacto</a></li>
        </ul>

        


      </nav> 
    
    </div>
  </nav>
</header>
<div class="section-container content-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-6">
                    <img src="./static/assets/images/contactme.jpg" class="img-responsive" alt=""> 
                </div>
                <div class="col-md-6">
                    <h1 class="h2">Escribime</h1>
                    <p>Ya sea por una inquietud, consulta o propuesta
                    de colaboración, mantengamos el contacto.</p>

				 <form action='submit_form' method='post'>
						Nombre: <input type='text' name='nombre' required><br>
						Email: <input type='email' name='email' required><br>
						Mensaje: <input type='text' name='mensaje' required><br>
						<input type='submit' value='Enviar'>
						<input type='reset' value='Limpiar'>

					</form>	
				  </ul>
              


                </div>
            </div>
        </div>
    </div>
</div>




<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>

