<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/assets/images/favicon.ico" rel="icon">
  
  <title>Contenidos</title>  

<link href="./static/main.3da94fde.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->

<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      <nav class="navbar-fullscreen" id="navbar-middle">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <ul class="navbar-fullscreen-links">
          <li><a href="./index.html" title="">Inicio</a></li>
          <li><a href="./project.html" title="">Contenidos</a></li>
          <li><a href="./about.html" title="">Acerca de mi</a></li>
          <li><a href="./contact.html" title="">Contacto</a></li>
        </ul>

        

      </nav> 
    
    </div>
  </nav>
</header>

  
<div class="hero-full-container background-image-container white-text-container" style="background-image:url('./static/assets/images/iniciofoto.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero-full-wrapper">
          <div class="text-content  text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center section-container-spacer">
          <h2 class="with-project-number"><span class="project-number">01</span>Lista de saberes</h2>
        </div>
        <div class="row section-container-spacer">
          <div class="col-md-4">
              <div class="section-container-spacer">
                <h3>Auto retrato</h3>
                <p>Venecia Enero, 2017</p>
              </div>

             
          </div>
          <div class="col-md-8">
            
            <p>Cantidad produce cualidad.<p>
              <p>Adaptación sin aprendisaje es sólo cambio.<p>
                <p>No se trata de lo que sabes, si cómo piensas.<p>
                  <p> Habilidad es práctica sobre tiempo.<p>
                    <p>Habilidad no es lo mismo que talento.<p>
                      <p>Talento en sí mismo no asegura el éxito.<p>
                        <p>No se necesita hacer las cosas desde cero, no hay que re inventar la rueda.<p>
                          <p>Para innovar, hay que alterar lo que ya existe. Ese es tu punto de origen.<p>
                            <p>Para que un sistema complejo exista, debe haber reglas simples.<p>
                              <p>Alcanzar complejidad incluye flexibilidad y solidez.<p>
                                <p>Para aprender nuevos conocimientos hay que borrar información que no se utiliza.<p>
                                  <p>El conocimiento nuevo que no se cristaliza, con el tiempo se olvida.<p>
                                    <p>Si te encuentras con un argumento que no tiene sentido, hazle preguntas, no lo remarques. Lo que carece de estructura cae por su propio peso.<p>
                                      <p>Tu creencia personal te da seguridad y especialidad. Debes estar liste para confrontarla constantemente.<p>
                                        <p>Encuentra confort en la incertidumbre.<p>
                                          <p>Constante agitación sólo reproduce y asienta lo que ya está disponible.<p>
                                            <p>No sólo basta con estar en lo cierto, tienes que hacerlo funcionar.<p>
                                              <p>La emergencia de un nuevo tipo de sistema, es posible por los límites claros de un sistema.<p>
                                                <p>Nos convertimos en lo que somos a través de una secuencia de transiciones mayores.<p>
                                                  <p>Si puedes hacer hacer reír mientras comunicas un mensaje, es más probable que lo recuerden.<p>

            </p>
          </div>
        </div>


        <img src="./static/assets/images/berna.jpg" alt="" class="img-responsive">
        <p>Berna, Suiza</p>

        <blockquote class="text-center large-spacing">
            <p>"Quien no cometió nunca errores, nunca intentó nada nuevo."</p>
            <small class="pull-right">Albert Einstein</small>
        </blockquote>
        
        <div class="row">
            <div class="col-md-6">
            <img src="./static/assets/images/gondola.jpg" class="img-responsive" alt="">
            <p>Venecia, Italia</p>
            </div>
            <div class="col-md-6">
            <img src="./assets/images/Varsovia.jpg" class="img-responsive" alt="">
            
            </div>
        </div>

        <img src="./static/assets/images/islandia.jpg" class="img-responsive" alt="">
        <p>Vik, Islandia</p>

      </div>
    </div>
  </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <ul class="navbar-nav nav">
          <li>
            <a href="" title="" class="project-nav left"><span class="project-number">01</span>Previous</a>
          </li>
        </ul>
        <p class="h5 navbar-text">Night Photography <i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i></p>

        <ul class="navbar-nav nav navbar-right">
          <li>
            <a href="" title="" class="project-nav right"><span class="project-number">03</span>Next </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>





<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      closeMenuBeforeGoingToPage();
      navActivePage();
    });
</script>
 <script type="text/javascript" src="./static/main.4c6e144e.js"></script></body>

</html>